version: '3.9'

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    environment:
      MONGO_URI: mongodb://mongo:27017/ubts
      PORT: '5000'
    ports:
      - '5500:5000'
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:5500
    ports:
      - '3300:3000'
    depends_on:
      - server

  caddy:
    image: caddy:2
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./client/dist:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - server

volumes:
  mongo_data: {}
  caddy_data: {}
  caddy_config: {}
